<div style="margin-top: 50px;">
    <div class="container-fluid">
        <div class="container">
            <div class="gradient-card"
                style="background: transparent linear-gradient(117deg, #754DD5 0%, #F34A72 100%) 0% 0% no-repeat padding-box;">
                <div class="p-4">
                    <div class="row">
                        <div class="col-md-5">
                            <div class="text-nowrap">
                                <div class="gradient-card-title">HỌC THIẾT KẾ CÙNG</div>

                                <div class="gradient-card-brand">COLORME</div>

                                <div class="gradient-card-info">
                                    <span>12 khóa học</span>
                                    <span>3041 lớp học</span>
                                    <span>31059 học viên</span>
                                </div>
                                <br>
                                <div class="d-flex  hide-on-phone" style="padding-bottom: 1rem;">
                                    <div class="btn-register" style="" onclick="scrollRegister()">
                                        Đăng kí ngay
                                    </div>
                                </div>
                                <div class="show-on-tablet app-download">
                                    <div
                                        style="display: flex; align-items: center; margin-bottom: 10px; cursor: pointer;">
                                        <a href="https://itunes.apple.com/us/app/colorme/id1294068461?mt=8" style="width: 100px;height: 30px;
                                        background: url(&#39;https://d1j8r0kxyu9tj8.cloudfront.net/files/1574313896PGEvFscFfP5Uoow.jpg&#39;) center/cover;
                                        border-radius: 5px;margin-right: 10px;">
                                        </a>
                                        <a href="https://play.google.com/store/apps/details?id=vn.colorme.keeeducation.app.colorME"
                                            style="width: 100px;height: 30px;
                                       background: url(&#39;https://d1j8r0kxyu9tj8.cloudfront.net/files/1574313896CQUrhMAjA0i39SM.jpg&#39;) center/cover;
                                       border-radius: 5px;display: flex;">
                                        </a>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="col-md-7 hide-on-phone">
                            <div>
                                <img src="../assets/source/1573143862LGw6IZowpK5AgTk.png"
                                    style="width: 100%;transition: all .2s ease-in-out;position: relative;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="first-after-nav"></div>
        <div class="container">
            <div class="row">

                <div class="col-md-12" style="margin:40px 0;">
                    <span class="course-category">KHOÁ HỌC NỔI BẬT</span>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/tron-bo-ky-nang" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006818g2CA0Hr325J7Ge6.jpeg)">

                            </div>
                            <img src="../assets/source/1574047991S47qyZSW8lstLSm" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Trọn bộ kỹ năng</p>
                                <p class="course-duration">64 buổi</p>
                                <p class="course-description">
                                    Sở hữu 8 khoá học của COLORME. Từ thiết kế, nhiếp ảnh, dựng phim, tin học văn phòng
                                    và hơn thế nữa.
                                </p>
                                <br>
                                <span class="course-price">
                                    4,500,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/thiet-ke-chuyen-sau" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006786jQJfU2C0gj6msJq.jpeg)">

                            </div>
                            <img src="../assets/source/1554878303612LAXvkRVS05j9.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Thiết Kế Chuyên Sâu</p>
                                <p class="course-duration">70 buổi</p>
                                <p class="course-description">
                                    Khoá học thiết kế từ cơ bản đến chuyên sâu cho người mới bắt đầu. Khoá học kéo dài 6
                                    tháng liên tục.
                                </p>
                                <br>
                                <span class="course-price">
                                    12,000,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/photoshop" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/15540068180tw4wKSfiiwpNRa.jpeg)">

                            </div>
                            <img src="../assets/source/1554006788VkvahhzmR6vDeJv.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Photoshop</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Thiết kế ấn phẩm truyền thông, chỉnh sửa ảnh, CV bằng công cụ Adobe Photoshop chỉ
                                    trong 8 buổi học
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/illustrator" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006818g2CA0Hr325J7Ge6.jpeg)">

                            </div>
                            <img src="../assets/source/1554878304qaKB4zu4CftUbmJ.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Illustrator</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Thiết kế Logo, ấn phẩm nhận diện thương hiệu, infographics, CV bằng phần mềm Adobe
                                    Illustrator chỉ trong 8 buổi.
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12" style="margin:40px 0;">
                    <span class="course-category">KHOÁ HỌC THIẾT KẾ</span>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/photoshop" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/15540068180tw4wKSfiiwpNRa.jpeg)">

                            </div>
                            <img src="../assets/source/1554006788VkvahhzmR6vDeJv.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Photoshop</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Thiết kế ấn phẩm truyền thông, chỉnh sửa ảnh, CV bằng công cụ Adobe Photoshop chỉ
                                    trong 8 buổi học
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/illustrator" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006818g2CA0Hr325J7Ge6.jpeg)">

                            </div>
                            <img src="../assets/source/1554878304qaKB4zu4CftUbmJ.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Illustrator</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Thiết kế Logo, ấn phẩm nhận diện thương hiệu, infographics, CV bằng phần mềm Adobe
                                    Illustrator chỉ trong 8 buổi.
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/power-point" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006818LW9ch0aF6jiRAkE.jpeg)">

                            </div>
                            <img src="../assets/source/1554878304RWM02BrD4ETVjSD.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Power Point</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Bạn cần một công cụ hỗ trợ đắc lực trong thuyết trình đề án, báo cáo công việc hoặc
                                    proposal tại công ty?
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/indesign" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554878977gg32XeWiwqXPufO.png)">

                            </div>
                            <img src="../assets/source/1554878304FeSsadc9t9PLQzg.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">InDesign</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Nếu bạn đang muốn thiết kế áp phích, tờ rơi, tạp chí, báo và sách… đây chính là khoá
                                    học dành cho bạn
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/after-effects" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/15540068175YtwUE8E6JcYyR2.jpeg)">

                            </div>
                            <img src="../assets/source/1554878303yWHktTptKDVyaER.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">After Effects</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Xây dựng các Video chuyển động, animation, motion graphics với phần mềm Adobe After
                                    Effects
                                </p>
                                <br>
                                <span class="course-price">
                                    1,300,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/photography" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(http://d1j8r0kxyu9tj8.cloudfront.net/files/1573144056fcAPKIK5bqsdWSa.jpg)">

                            </div>
                            <img src="../assets/source/1554878304zMEqdJ7hNd28UyJ.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Photography</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Lớp học nhiếp ảnh cho người mới bắt đầu, có sẵn máy ảnh và các dụng cụ nhiếp ảnh để
                                    học viên có thể thực hành.
                                </p>
                                <br>
                                <span class="course-price">
                                    1,300,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/ui-ux" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006817Q3rL0yhiPg5U9sj.jpeg)">

                            </div>
                            <img src="../assets/source/1554878304VKQ4JDdZqgUKYlW.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">UI - UX</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Khoá học thiết kế UI UX cho người mới bắt đầu. Giúp bạn thiết kế UI cho App, Web.
                                    Phân tích hành vi người dùng, xây dựng prototype...
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/premiere" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554006786bWkPirzSsg9LY46.jpeg)">

                            </div>
                            <img src="../assets/source/1554878304G4g0SuobruflUeU.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Premiere</p>
                                <p class="course-duration">8 buổi</p>
                                <p class="course-description">
                                    Nếu bạn đang muốn học cắt ghép video, về cách để xây dựng kịch bản và quay phim, thì
                                    đây chính là khoá học dành cho bạn!
                                </p>
                                <br>
                                <span class="course-price">
                                    1,100,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
            <div class="row">

                <div class="col-md-12" style="margin:40px 0;">
                    <span class="course-category">DIGITAL PAINTING</span>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/digital-painting-sai-gon" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1558188121HfkhIGnl8IAfefI.jpg)">

                            </div>
                            <img src="../assets/source/1554878304qVDPGyrcQDr0pMU.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Digital Painting - Sài Gòn</p>
                                <p class="course-duration">16 buổi</p>
                                <p class="course-description">
                                    Khóa học digital painting phù hợp cho mọi đối tượng. Giúp bạn sử dụng Wacom để vẽ
                                    chân dung, concept art, vẽ nhân vật game, concept phim,… trong 16 buổi học.
                                </p>
                                <br>
                                <span class="course-price">
                                    2,700,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-3 col-sm-4">
                    <a routerlink="/course/digital-painting-ha-noi" style="color:black">
                        <div class="course-container">
                            <div class="course-image"
                                style="background-image: url(https://d1j8r0kxyu9tj8.cloudfront.net/files/1554878977E3p8UwkhUJ510rY.png)">

                            </div>
                            <img src="../assets/source/1554878304GALXXfhBP0k4ROp.png" class="course-add-image">

                            <div class="course-infor">
                                <p class="course-name">Digital Painting - Hà Nội</p>
                                <p class="course-duration">16 buổi</p>
                                <p class="course-description">
                                    Khóa học Digital Painting phù hợp cho mọi đối tượng. Giúp bạn sử dụng Wacom để vẽ
                                    minh hoạ trong 16 buổi học. Khoá học trang bị sẵn Wacom.
                                </p>
                                <br>
                                <span class="course-price">
                                    2,700,000đ
                                </span>
                            </div>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </div>
</div>